@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"red-hat";
  font-weight: 700;
  src: url(/fonts/RedHatDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family:"red-hat";
  font-weight: 600;
  src: url(/fonts/RedHatDisplay-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family:"red-hat";
  font-weight: 400;
  src: url(/fonts/RedHatDisplay-Regular.ttf) format("truetype");
}

/* html {
  scroll-behavior: smooth;
} */
body {
  background-color: black;
  overflow-x: hidden;
}
h1, h2{
  font-family: 'red-hat';
  font-weight: 700;
}
span{
  font-family: 'red-hat';
  font-weight: 600;
}
p{
  font-family: 'red-hat';
  font-weight: 400;
}